{% extends "indian_recipes/layout.html" %}

{% block body %}
<h1>{{ recipe.title }}</h1>

<h3>Ingredients</h3>
<ul>
  {% for ingredient in ingredients %}
  <li>{{ ingredient.amount }} {{ingredient.name }}</li>
  {% empty %}
  <li> None</li>
  {% endfor %}
</ul>

<h3>Directions</h3>
<ol>
  {% for direction in directions %}
  <li>{{ direction.step }}</li>
  {% empty %}
  <li> No directions.</li>
  {% endfor %}
</ol>

<h3>Add Listed Ingredients to a Recipe</h3>
<form action="{% url 'add_ingredients' recipe.id %}" method="post">
  {% csrf_token %}
  <select name="ingredient">
    {% for ingredient in non_ingredients %}
      <option value="{{ ingredient.id }}">{{ ingredient }}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>

<a href="{% url 'edit' recipe.id %}">Edit Recipe</a>
<a href="{% url 'index' %}">Return to Home Page</a>
{% endblock %}
